@import url('https://fonts.googleapis.com/css2?family=Hind&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f2f2f2;
    background-image: url("Images/homepage_background.png");
    background-size: cover;
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
  }

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.2)) , url(12.jpg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
nav {
    width: 100%;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    font-size: 2em;
    letter-spacing: 2px;
}
.menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
}
.menu a:hover {
    border: 1px solid indianred;
    background: transparent;
}
.logout a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    background: indianred;
}
.logout a:hover {
    border: 1px solid indianred;
    background: transparent;
}
.h-text {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 650px;
    transform: translate(-50%,-50%);
    text-align: center;
    text-transform: uppercase;
    color: #ff000000;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    background: 
        repeating-radial-gradient(#000 0 0.0001%,#fff 0 0.0002%) 50% 0/2500px 2500px,
        repeating-conic-gradient(#000 0 0.0001%,#fff 0 0.0002%) 50% 50%/2500px 2500px;
    background-blend-mode: difference;
    mix-blend-mode: lighten;
    -webkit-background-clip: text;
            background-clip: text;
}

.h-text h2 {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    background: indianred;
}

.h-text p {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 20px;
    letter-spacing: 1px;
}

.h-text span {
    letter-spacing: 5px;
}
.h-text h1 {
    font-size: 3em;
}
.h-text a {
    text-decoration: none;
    background: indianred;
    padding: 10px 20px;
    color: #fff;
    letter-spacing: 5px;
    transition: 0.4s;
}
.h-text a:hover {
    border: 1px solid indianred;
    background: transparent;
}

.profilepage a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    background: indianred;
}
.profilepage a:hover {
    border: 1px solid indianred;
    background: transparent;
}

.info-box * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.info-box body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #f4e48c;
}

.info-box h2 {
    text-align: center;
    letter-spacing: 2px;
}

.info-box p {
    text-align: left;
    letter-spacing: 0.5px;
    font-family: 'Times New Roman';
    
}
.info-box {
    background-color: #f4e48c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 400px;
    text-transform: none;
}

.homepage a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    background: indianred;
}
.homepage a:hover {
    border: 1px solid indianred;
    background: transparent;
}

.loginerror a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    background: indianred;
}
.loginerror a:hover {
    border: 1px solid indianred;
    background: transparent;
}
